@import "mixins";

@include theme-colors using ($theme) {
	@if $theme =="dark" {
		--nav-bg: var(--bg-color), var(--primary-color);
	}

	@else {
		--nav-bg: var(--bg-color), var(--primary-color);
	}
}

// No edge highlights
:root {
	--edge-highlight: 0 0 0 transparent;
}


// Use top navbar
// @see https://duckquill.daudix.one/tricks/#navbar

#site-nav {
	top: 0;
	margin-top: 0;
	box-shadow: 0 0.75rem 1.5rem -1rem rgba(0, 0, 0, 0.5);
	border-radius: 0 0 calc(var(--rounded-corner) + 0.5rem) calc(var(--rounded-corner) + 0.5rem);
	--blur: ;
	background: var(--nav-bg);
	border: 1px solid var(--fg-muted-2);
	border-top: none;

	nav ul li {
		a,
		&#search button,
		&#language-switcher details summary,
		&#theme-switcher details summary {
			border-radius: var(--rounded-corner);
		}
	}

	#search-container {
		#search-bar {
			border-radius: var(--rounded-corner);
		}
	}
}


// bring back headings
// @see https://duckquill.daudix.one/tricks/#headings
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	font-family: var(--font-system-ui)
}

h1 {
	font-weight: 900;
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.75rem;
}

// bring back boring <del>
// @see https://duckquill.daudix.one/tricks/#strikethrough

del {
	box-shadow: none;
	border-radius: 0;
	background-color: transparent;
	padding: 0;
	color: inherit;
}